@model DistributiecenterFonq.Models.Producten
@{
    ViewBag.Title = "Add";
}

<h2>Voeg een nieuw product toe:</h2>
@using (Html.BeginForm("Add", "Home"))
{
<table>
        @Html.EditorForModel()
        @Html.ValidationMessageFor(m => m.Merk)
        
</table>

        <button type="submit">Add</button>
}





