@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Fonq<br />
    Reactorweg 53<br />
    <abbr title="Phone">P:</abbr>
    085 - 888 68 55
</address>
