@model DistributiecenterFonq.Models.Producten
@{
    ViewBag.Title = "Update";
}

<h2>Update het product:</h2>
@using (Html.BeginForm("Update", "Home"))
{
    <table>
        @Html.EditorForModel()
    </table>

    <button type="submit">Update product</button>
}

